.mypage_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 20px;
  list-style: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.section > * {
  margin-bottom: 20px;
}

.border_right {
  border-right: 1px solid grey;
}

.modal_content input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px 0;
}

.modal_content button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px 0;
}

.modal_content button:hover {
  background-color: #0056b3;
}
