:global(.react-datepicker) {
  background-color: #fcfcfc !important;
  color: #333 !important;
  display: flex !important;
  padding: 5px;
}

:global(.react-datepicker__header) {
  background-color: #fcfcfc !important;
}

:global(.react-datepicker-wrapper) {
  width: 90% !important;
}

:global(input) {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
}
:global(
    .react-datepicker__time-container
      .react-datepicker__time
      .react-datepicker__time-box
      ul.react-datepicker__time-list
      li.react-datepicker__time-list-item
  ) {
  margin: 0.5vh;
}
