:global(.react-datepicker) {
  background-color: #fcfcfc !important;
  color: #333 !important;
  display: flex !important;
  padding: 5px;
}

:global(.react-datepicker__header) {
  background-color: #fcfcfc !important;
}

:global(.react-datepicker-wrapper) {
  width: 90% !important;
}

:global(input) {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
}
