.imgSlide {
  width: 200px;
  height: 200px;
}

.SliderBtn {
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  color: rgb(163, 163, 163);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  /* transition: background-color 0.3s; */
}

/* .SliderBtn:hover {
  background-color: rgb(245, 243, 243);
} */

.SliderBtn.left {
  left: 10px;
}

.SliderBtn.right {
  right: 10px;
}
.sliderContainer {
  position: relative;
  text-align: center;
}

.indicators {
  display: flex;
  justify-content: center;
  bottom: 10px;
  width: 100%;
}

.indicator,
.activeIndicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #d6d6d6;
  margin: 0 5px;
}

.activeIndicator {
  background-color: rgb(163, 163, 163);
}

@media (max-width: 550px) {
  .imgSlide {
    width: 125px;
    height: 125px;
    float: left;
  }
  .SliderBtn {
    display: none;
  }
}
