.nav_container {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: #5271ff;
}

.nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.list_nav {
  display: flex;
  align-items: center;
}
.tit {
  margin-left: 10px;
}
.tit a,
.list_nav a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
  background-color: transparent;
  border: none;
}

.tit a:hover,
.list_nav a:hover {
  font-weight: bold;
  /* font-size: calc(100% + 1px); */
  color: silver;
}

.list_nav a {
  padding: 0 8px;
}

.selected {
  margin-left: 8px;
  padding-top: 2px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}
.selected:hover {
  font-weight: bold;
  /* font-size: calc(100% + 1px); */
  color: silver;
}

.user_delete_btn {
  border: none;
  color: white;
  text-decoration: none;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.user_delete_btn:hover {
  font-weight: bold;
  /* font-size: calc(100% + 1px); */
  color: silver;
}

.select {
  display: flex;
  transition: backgrond 0.3s;
}

.menu {
  background-color: royalblue;
  opacity: 0.8;
  display: none;
  position: absolute;
  top: 80%;
  right: 3.3%;
  width: auto;
  padding: 0.2em 0.3em;
  border: 1px black solid;
  border-radius: 8px;
  z-index: 3;
}

.menu li,
.menu button {
  display: flex;
  justify-content: center;
}

.menu li {
  padding: 0.4em;
  margin: 0.4em 0;
  cursor: pointer;
}

.menu button {
  color: white;
}

.menuOpen {
  display: block;
}

.menuAnimation {
  animation: fadeIn 0.8s ease-in-out;
}

@media (max-width: 550px) {
  .nav {
    padding: 10px;
  }
  .tit a {
    font-size: 20px;
  }
  .list_nav a {
    font-size: 12px;
  }
  .user_delete_btn {
    font-size: 12px;
  }
}

.logo {
  height: 75px;
  width: auto;
  object-fit: contain;
}
.iconButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #ffffff;
  font-size: 24px;
  display: none;
  margin-bottom: 5px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .nav_container {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
  }
  .logo {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .list_nav {
    flex-grow: 1;
    justify-content: space-around;
  }
  .list_nav li {
    flex-grow: 1;
    text-align: center;
  }
  .list_nav a {
    font-size: 12px;
  }
  .user_delete_btn,
  .tit a,
  .list_nav a {
    font-size: 12px;
  }
  .icon {
    display: block;
  }
}
