.container {
  width: 100%;
  overflow: auto;
  padding: 10px;
  background: white;
  text-align: left;
  min-width: 150px;
  /* border: solid 1px; */
}
.containerWithBorder {
  border: solid 1px;
}
.select {
  display: flex;
  margin: auto;
  text-align: left;
  transition: background 0.3s;
  align-items: center;
  justify-content: center; 
  
}

.selected {
  font-size: 20px;
  margin-left: 10px; 
}

.caret {
  transform: rotate(0);
}

.caretAnimation {
  animation: rotateCaret 0.3s linear forwards;
}

@keyframes rotateCaret {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

.caret:hover {
  cursor: pointer;
}

.menu {
  display: none;
  width: 100%;
  /* padding: 0.5em 0px 0.5em ; */
  border-radius: 5px;
}

.menuOpen {
  display: block;
}

.menuAnimation {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-8%);
  }
  to {
    transform: translateY(0);
  }
}

.menu li {
  display: block;
  padding: 0.6em 0px 0.6em 10px;
  margin: 0.3em 0;
  cursor: pointer;
}

.menu li:hover {
  background-color: #007bff;
  color: white;
}

.active {
  background: rgb(229, 226, 226);
}
