@import url('http://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
