.login_form {
  max-width: 330px;
  margin: 120px auto;
}

.login_form fieldset {
  border: 2px solid royalblue;
  border-radius: 10px;
}

.login_form legend {
  padding: 10px;
  font-size: 1.5em;
  color: royalblue;
}

.input_box {
  position: relative;
  width: 280px;
  margin: 20px auto;
  font-size: 16px;
  padding: 0 5px;
  pointer-events: none;
}

.input_box input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1.8px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 16px;
  transition: 0.5s;
  pointer-events: auto;
}

.input_box input:focus,
.input_box input:valid {
  border: 1.8px solid blue;
}

.input_box label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.3);
}

.input_box label::before,
.input_box label::after {
  content: "";
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  background: transparent;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.5s;
}

.input_box label::before {
  left: 0;
  border-left: 1.8px solid royalblue;
  border-bottom: 1.8px solid royalblue;
}

.input_box label::after {
  right: 0;
  border-right: 1.8px solid royalblue;
  border-top: 1.8px solid royalblue;
}

.input_box input:focus ~ label,
.input_box input:valid ~ label {
  top: 0;
  left: 10px;
  font-size: 11px;
  background-color: #fff;
  color: royalblue;
  padding: 0 12px;
}

.input_box input:focus ~ label::before,
.input_box input:valid ~ label::before,
.input_box input:focus ~ label::after,
.input_box input:valid ~ label::after {
  top: 2.5px;
  opacity: 1;
}

.btn {
  margin-top: 20px;
  float: right;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  background-color: royalblue;
  border: 2px solid royalblue;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn:hover {
  background-color: #fff;
  color: royalblue;
}

.login_form .strong_container {
  width: 100%;
  text-align: center;
}

.loading,
.error {
  display: block;
  padding: 0 40px;
}

.loading {
  color: black;
  font-weight: bold;
}

.error {
  color: red;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
}

.btnWrapper {
  padding-top: 24px;
}

.linkBtn {
  width: 100%;
  border: 1px solid #222;
  background-color: #fff;

  font-size: 16px;
  font-weight: 600;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  text-decoration: none;
}
.btnWrapper a {
  color: #000;
  text-decoration: none;
}
.linkBtn:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 550px) {
}
