.Pages {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pages .page_item {
  display: inline;
  margin-right: 5px;
}

.Pages .page_Link {
  font-size: 33px;
  padding: 8px 5px;
  text-decoration: none;
  transition: font-size 0.3s ease;
  display: inline-block;
  color: #007bff;
}

.Pages .page_NumLink {
  text-decoration: none;
  padding: 8px 12px;
  margin: 0 4px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  border-radius: 100px;
}

.Pages .page_NumLink:hover,
.Pages .page_NumLink:active {
  background-color: #007bff;
  color: white;
}

.Pages .activePage {
  background-color: #007bff;
  color: white;
}
