fieldset {
  padding: 0;
  border: none;
}

ul {
  padding: 0;
}

.formItem {
  padding: auto;
}
.formItem textarea {
  margin: 1px auto;
}

.imagePreview {
  width: 80px;
  height: 80px;
}

.register_Btn {
  background-color: royalblue;
  border-radius: 16px;
  color: white;
  border: none;
}
