.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 50px 60px;
}

.side_menu form {
  padding: 20px;
  background-color: #3498db;
  border-radius: 10px;
}

.side_menu legend {
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;
}

.side_menu input,
.side_menu select,
.side_menu textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  margin-top: 4px;
}

.side_menu label {
  display: block;
  margin: 10px auto;
  color: black;
  display: inline-block;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.side_menu textarea {
  height: auto;
}

.side_menu button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.side_menu button:hover {
  background-color: white;
  color: #3498db;
}

@media (max-width: 550px) {
  .container {
    margin: 0 auto;
    padding: 0px 20px;
  }
}
