:global(.react-datepicker) {
  background-color: #fcfcfc !important;
  color: #333 !important;
}

:global(.react-datepicker__header) {
  background-color: #fcfcfc !important;
}

:global(.react-datepicker__day--in-range) {
  background-color: #4a7b91 !important;
}

:global(.react-datepicker-wrapper) {
  width: 95% !important;
}
