:global(.react-datepicker) {
  background-color: #fcfcfc !important;
  color: #333 !important;
  display: flex !important;
  padding: 5px;
}

:global(.react-datepicker__header) {
  background-color: #fcfcfc !important;
}

:global(.react-datepicker__day--in-range) {
  background-color: #4a7b91 !important;
}

:global(.react-datepicker-wrapper) {
  width: 95% !important;
}

:global(.react-datepicker__month-container) {
  float: left;
  border-right: 1px solid #aeaeae;
}

:global(.react-datepicker__month-container:last-child) {
  border-right: none;
}

:global(input) {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
}