.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.content_list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media all and (max-width: 800px) {
  .content_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
@media all and (max-width: 600px) {
  .content_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.content_list strong {
  font-size: 24px;
}
.content_list p {
  font-size: 14px;
}
.content_list h4 {
  font-size: 12px;
}

.content_list li {
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.3);
  padding: 30px;

  border: 1.2px solid black;
}

.content_list li {
  margin: 30px 0;
}

.content_list .description {
  font-size: 1.3em;
}

.btn {
  margin: 4px;
  padding: 4px;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid royalblue;
  color: royalblue;
  cursor: pointer;
  transition: 0.5 ease;
}
.btn:hover {
  background-color: royalblue;
  color: white;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}
.modal input {
  width: auto;
  margin: 5px;
}
.modal .rentBtn {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.closeBtn {
  background-color: royalblue;
  display: block;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.closeBtn:hover {
  background-color: darkblue;
}

.loadingContainer {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 20px;
}

.home_btn_container {
  text-align: center;
}
img {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.ReactDatePicker {
  width: 300px;
}
