li {
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.price {
  color: green;
  font-size: 16px;
}

.ea {
  font-size: 16px;
}

.description {
  font-size: 14px;
  margin-top: 10px;
}

.editing {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

input,
select,
textarea {
  width: auto;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.btn_edit,
.btn_delete {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn_delete {
  background-color: #f44336;
  margin-left: 10px;
}

.btn_edit:hover,
.btn_delete:hover {
  opacity: 0.8;
}
