.container {
  /* background-color: #e8f5f8; */
  min-height: 100vh;
  padding: 50px 0;
}

.side_menu {
  width: 40%;
  margin: 0 auto;
  background-color: royalblue;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
  animation: sideMenuAnimation 1s ease-in-out forwards;
}

@keyframes sideMenuAnimation {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
