.myitem_list {
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

img {
  width: 50%;
}

.list {
  list-style-type: none;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.3);
  padding: 30px;
  border: 1.2px solid black;
  border-radius: 2%;
}