.nav {
  position: relative;
  width: 100%;
  background-color: royalblue;
  padding: 20px 50px;
  text-align: left;
}

.tit a,
.list_nav a,
button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.tit a:hover,
.list_nav a:hover,
button:hover {
  color: black;
}

.list_nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 24px;
}

.list_nav a {
  padding: 10px 15px;
  border-radius: 10px;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}
