.nav {
  position: relative;
  width: 100%;
  background-color: royalblue;
  padding: 20px 50px;
  text-align: left;
}

.tit a,
.list_nav a,
button {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
.user_delete_btn:hover {
  color: red;
}

.tit a:hover,
.list_nav a:hover,
button:hover {
  font-weight: bold;
  font-size: calc(100% + 1px);
}

.list_nav {
  display: flex;
  justify-content: right;
  align-items: center;
}

.list_nav a {
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration-line: overline;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
button:hover {
  font-weight: bold;
  font-size: calc(100% + 1px);
}
.user_delete_btn:hover {
  font-weight: bold;
  font-size: calc(100% + 1px);
}
.select {
  display: flex;
  transition: backgrond 0.3s;
}
.selected {
  border-top: 1.8px solid white;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-left: 11px;
  transition: 0.3s;
}

.menu {
  background-color: skyblue;
  display: none;
  position: absolute;
  top: 80%;
  right: 1%;
  width: auto;
  padding: 0.2em 0.3em;
  border: 1px black solid;
  border-radius: 8px;
  z-index: 1;
}
.menu li,
.menu button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuOpen {
  display: block;
}
.menu button {
  color: white;
}

.menuAnimation {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 200px;
  }
}
.menu li {
  padding: 0.6em 0.5em;
  margin: 0.3em 0;
  cursor: pointer;
}
