.signup_form {
  max-width: 360px;
  margin: 40px auto;
}

.signup_form legend {
  font-size: 1.5em;
  padding: 10px;
  color: royalblue;
}

.input_box {
  position: relative;
  width: 280px;
  margin: 20px auto;
  font-size: 16px;
  padding: 0 5px;
  pointer-events: none;
}

.input_box label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.3);
}

.input_box label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: transparent;
  border-left: 1.8px solid royalblue;
  border-bottom: 1.8px solid royalblue;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.5s;
}

.input_box label::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: transparent;
  border-right: 1.8px solid royalblue;
  border-top: 1.8px solid royalblue;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.5s;
}

.input_box input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1.8px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 16px;
  transition: 0.5s;
  pointer-events: auto;
}

.input_box input:focus ~ label,
.input_box input:valid ~ label {
  top: 0;
  left: 10px;
  font-size: 11px;
  background-color: #fff;
  color: royalblue;
  padding: 0 12px;
}

.input_box input:focus ~ label::before,
.input_box input:valid ~ label::before,
.input_box input:focus ~ label::after,
.input_box input:valid ~ label::after {
  top: 2.5px;
  opacity: 1;
}
.input_box input:focus,
.input_box input:valid {
  border: 1.8px solid royalblue;
}

.btn {
  margin-top: 40px;
  float: right;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  background-color: royalblue;
  border: 2px solid royalblue;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #fff;
  color: royalblue;
}
