.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.messageList {
  border: 1px solid black;
  height: 500px;
  list-style: none;
  padding: 10px;
  overflow: auto;
}

.inputContainer {
  display: flex;
  margin-top: 10px;
}

.inputMessage {
  flex: 1;
  padding: 10px;
  overflow-x: auto;
}

.sendMessageButton {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.myMessage {
  text-align: center;
  position: relative;
  background-color: #7DB2F0;
  /* border: 2px solid gray; */
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  max-width: 80%;
}

.myMessage::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 100%;
  border-top: 10px solid transparent;
  border-left: 12px solid #7DB2F0;
  border-bottom: 10px solid transparent;
}

.otherMessage {
  text-align: center;
  position: relative;
  background-color: rgb(212, 206, 206);
  /* border: 2px solid gray; */
  border-radius: 10px;
  padding: 10px;
  margin-right: auto;
  max-width: 80%;
}
.otherMessage::before {
  content: '';
  position: absolute;
  top: 30%;
  right: 100%;
  border-top: 10px solid transparent;
  border-right: 12px solid rgb(212, 206, 206);
  border-bottom: 10px solid transparent;
}

.myMessage p,
.otherMessage p {
  margin: 0 auto;
}

.myDisplayName {
  margin: 5px auto;
  font-weight: bold;
  color: royalblue;
  text-align: right;
  margin-right: 5px;
}

.otherDisplayName {
  margin: 5px auto;
  font-weight: bold;
  color: royalblue;
  text-align: left;
  margin-left: 5px;
}
