.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.messageList {
  border: 1px solid black;
  height: 550px;
  list-style: none;
  padding: 10px;
  overflow: auto;
}

.message {
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  margin-top: 20px;
}

.inputMessage {
  flex: 1;
  padding: 10px;
}

.sendMessageButton {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.myMessage {
  position: relative;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  max-width: 80%;
}
.myMessage::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  border-top: 10px solid transparent;
  border-left: 12px solid gray;
  border-bottom: 10px solid transparent;
}

.otherMessage {
  position: relative;
  border: 2px solid gray;
  border-radius: 10px;
  margin-right: auto;
  max-width: 80%;
}
.otherMessage::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  border-top: 10px solid transparent;
  border-right: 12px solid gray;
  border-bottom: 10px solid transparent;
}
